@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #02020a;
  --color-light-100: #cedafe;
  --color-light-200: #92a5ca;
  --color-gray-100: #a3aaaf;
  --color-blue-dark-100: #0d1122;

  --font-archivo: Archivo, sans-serif;

  --breakpoint-xs: 480px;

  --background-image-hero: url("/bg-hero.jpg");
}

@layer base {
  body {
    background: #06001f;
    font-family: "Archivo", sans-serif;
    font-optical-sizing: auto;
  }

  h1 {
    @apply mx-auto max-w-4xl text-5xl text-center font-bold leading-tight tracking-normal text-white sm:text-[64px] sm:leading-[76px];
  }

  h2 {
    @apply text-2xl font-bold text-white sm:text-3xl;
  }

  h3 {
    @apply text-xl font-bold text-white;
  }

  main {
    @apply min-h-screen relative bg-primary;
  }

  header {
    @apply sm:mt-10 mt-5;
  }

  header img {
    @apply w-full max-w-lg h-auto object-contain mx-auto drop-shadow-md;
  }
}

@layer components {
  .curtain {
    @apply bg-hero w-full h-screen bg-center bg-cover absolute z-0;
  }

  .search {
    @apply w-full bg-light-100/9 px-4 py-3 rounded-lg mt-10 max-w-3xl mx-auto;

    & div {
      @apply relative flex items-center;
    }

    & img {
      @apply absolute left-2 h-5 w-5;
    }

    & input {
      @apply w-full bg-transparent py-2 sm:pr-10 pl-10 text-base text-gray-100 placeholder-indigo-100 outline-hidden;
    }
  }

  .wrapper {
    @apply px-5 py-12 xs:p-10 max-w-7xl mx-auto flex flex-col relative z-10;
  }

  .genres {
    @apply mt-10;

    & ul {
      @apply w-full flex flex-row gap-5 mt-5 hide-scrollbar overflow-x-auto;
    }

    & ul li {
      @apply flex border-light-200 border bg-blue-dark-100 hover:bg-blue-950 cursor-pointer rounded-2xl justify-center items-center min-w-fit max-w-xs;
    }

    & ul li p {
      @apply py-3 px-4.5 text-white leading-tight;
    }
  }

  .trending {
    @apply mt-20;

    & ul {
      @apply flex flex-row overflow-y-auto gap-5 -mt-10 w-full hide-scrollbar;
    }

    & ul li {
      @apply min-w-[230px] flex flex-row items-center mt-4;
    }

    & ul li p {
      @apply fancy-text mt-[22px] text-nowrap text-white;
    }

    & ul li img {
      @apply w-[127px] h-[163px] rounded-lg object-cover -ml-4 shadow-md shadow-gray-400;
    }
  }

  .all-movies {
    @apply space-y-9;

    & ul {
      @apply grid grid-cols-1 gap-5 xs:grid-cols-2 md:grid-cols-3 lg:grid-cols-4;
    }
  }

  .movie-card {
    @apply bg-blue-dark-100 p-5 rounded-2xl shadow-inner shadow-light-100/10;

    & img {
      @apply rounded-lg h-auto w-full shadow-light-100 shadow;
    }

    & h3 {
      @apply text-white font-bold text-base line-clamp-1;
    }

    & .content {
      @apply mt-2 flex flex-row items-center flex-wrap gap-2;
    }

    & .rating {
      @apply flex flex-row items-center gap-1;
    }

    & .rating img {
      @apply size-4 object-contain;
    }

    & .rating p {
      @apply font-bold text-base text-white;
    }

    & .content span {
      @apply text-sm text-gray-100;
    }

    & .content .lang {
      @apply uppercase text-gray-100 font-medium text-base;
    }

    & .content .year {
      @apply text-gray-100 font-medium text-base;
    }
  }

  .footer {
    @apply flex flex-col justify-center items-center bg-black pb-8;

    & .divider {
      @apply w-11/12 border-t border-neutral-800 mb-9;
    }

    & .links {
      @apply flex flex-col sm:flex-row sm:justify-center gap-4 text-center text-sm mb-6;

      & h3 {
        @apply hover:underline cursor-pointer;
      }
    }

    & .branding {
      @apply text-center text-xs text-neutral-400;
    }

    & img {
      @apply h-6 w-6;
    }
  }

  .footer-social {
    @apply flex flex-col shadow-sm shadow-blue-400 border border-neutral-600 bg-neutral-950 rounded-2xl max-w-5/12 px-10 py-7 justify-center items-center text-center mb-8;

    & h2 {
      @apply text-3xl font-extralight mb-4;
    }

    & div {
      @apply flex flex-row gap-5 mt-2;
    }

    & .social-container {
      @apply flex flex-wrap justify-center gap-4;

      & .tt-container {
        @apply bg-blue-100 rounded-3xl p-2 cursor-pointer;
      }

      & .x-container {
        @apply bg-white rounded-3xl p-2 cursor-pointer;
      }

      & .yt-container {
        @apply bg-red-100 rounded-3xl p-2 cursor-pointer;
      }

      & .fb-container {
        @apply bg-cyan-100 rounded-3xl p-2 cursor-pointer;
      }

      & .ig-container {
        @apply bg-rose-100 rounded-3xl p-2 cursor-pointer;
      }
    }
  }
}

@utility text-gradient {
  @apply bg-linear-to-tl from-[#98acee] to-[#033dfa] bg-clip-text text-transparent;
}

@utility fancy-text {
  -webkit-text-stroke: 3px rgba(0, 11, 62, 0.9);
  font-size: 165px;
  font-family: "Archivo", sans-serif;
}

@utility hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}
